.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Chivo, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #000;
  text-decoration: underline;
}

li {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 1.6;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: left;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 0px;
  padding: 0px;
  border-left: 5px none #e2e2e2;
  background-color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  line-height: 1.4;
}

figure {
  margin-bottom: 10px;
}

.home-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.home-hero-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 120%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.83)), color-stop(17%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/hero-image.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83), hsla(0, 0%, 100%, 0) 17%), linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-image.jpg');
  background-position: 0px 0px, 0px 0px, 50% 100%;
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat;
}

.home-hero-image.hero-image-1 {
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgba(0, 0, 0, 0.83)), color-stop(20%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.46)), to(rgba(0, 0, 0, 0.46))), url('../images/tremaine-hero-image.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 11%, hsla(0, 0%, 100%, 0) 20%), linear-gradient(180deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url('../images/tremaine-hero-image.jpg');
}

.home-hero-image.hero-image-3 {
  display: block;
}

.home-hero-image.hero-image-2 {
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.83)), color-stop(17%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 0.54))), url('../images/Luke-hero-image.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83), hsla(0, 0%, 100%, 0) 17%), linear-gradient(180deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('../images/Luke-hero-image.jpg');
}

.home-hero-image.hero-image-4-mobile {
  display: none;
}

.hero-container {
  position: relative;
  z-index: 10;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar {
  position: fixed;
  left: auto;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100vw;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  display: inline-block;
  width: 140px;
  margin-right: 100px;
  margin-left: 100px;
  float: none;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  min-width: 99px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.nav-link:hover {
  opacity: 0.5;
}

.nav-link.w--current {
  color: #fff;
}

.nav-link.menu-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 25px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
}

.section {
  padding: 100px 50px;
}

.section.assets-hero {
  padding-top: 150px;
  background-color: #000;
  color: #fff;
}

.section.legal-hero {
  padding-top: 170px;
  background-color: #000;
  color: #fff;
}

.section.styleguide {
  padding-top: 40px;
}

.navbar-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 5px 8px -10px #000;
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-link {
  display: block;
  margin-right: 7px;
  margin-left: 7px;
  color: #ccc;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.intro-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-title {
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
}

.section-title.instagram {
  margin-top: 50px;
  text-align: center;
}

.intro-image-grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-image {
  position: static;
  overflow: visible;
  width: 100%;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  -o-object-fit: cover;
  object-fit: cover;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease, padding 200ms ease;
  transition: color 200ms ease, padding 200ms ease;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.button:hover {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
}

.button.tutorial-link {
  background-color: #f0f0f0;
  -webkit-transition: background-color 200ms ease, color 200ms ease, padding 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, padding 200ms ease;
}

.button.tutorial-link:hover {
  background-color: #ccc;
  color: #000;
}

.button-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 0%;
  background-color: #ef8110;
}

.button-text {
  position: relative;
  z-index: 10;
}

.button-arrow {
  position: relative;
  z-index: 10;
  width: 17px;
  margin-left: 10px;
}

.button-arrow.flip {
  margin-right: 10px;
  margin-left: 0px;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.button-wrapper {
  display: inline-block;
  margin-top: 30px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.button-wrapper.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sign-up-section {
  position: relative;
  padding: 100px 50px;
  color: #fff;
  text-align: center;
}

.mini-container {
  position: relative;
  z-index: 10;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.sign-up-background-video {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.video-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.form-block {
  margin-bottom: 0px;
}

.form-block.sign-up {
  margin-top: 50px;
}

.scroll-down-hint {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 20px;
  z-index: 10;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
}

.sign-up-form-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-field {
  height: 50px;
  margin-bottom: 0px;
  padding-left: 15px;
  border: 0px none #000;
  font-size: 17px;
}

.text-field.placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  padding-left: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
}

.text-field.password {
  margin-top: 20px;
}

.features-grid {
  grid-column-gap: 150px;
  grid-row-gap: 50px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
}

.section-subtitle {
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
}

.section-subtitle.features {
  margin-bottom: 15px;
}

.section-subtitle.contact {
  margin-bottom: 40px;
}

.featured-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

.featured-icon {
  width: 26px;
  margin-right: 25px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  margin-bottom: 30px;
}

.gallery-section {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.divider-line {
  height: 1px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #f0f0f0;
}

.divider-line.mini-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.divider-line.footer-line {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: hsla(0, 0%, 94%, 0.14);
}

.text-image-grid {
  grid-column-gap: 150px;
  -ms-grid-columns: 0.5fr 0.75fr;
  grid-template-columns: 0.5fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.important-stuff-subtitle {
  margin-bottom: 5px;
  font-weight: 700;
}

.hosts-image {
  width: 210px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.signature {
  margin-top: 30px;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.patterned-texture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Pattern-Texture.svg');
  background-position: 0px 0px;
  background-size: 300px;
}

.quote-wrapper {
  max-width: 800px;
  padding: 0px;
  background-color: #fff;
}

.quote-name-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-image {
  width: 100px;
  margin-right: 12px;
  border-radius: 50%;
}

.footer-copyright {
  margin-top: 60px;
  font-size: 11px;
}

.footer-logo {
  width: 140px;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.instagram-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.booking-slide-out {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1001;
  display: block;
  overflow: auto;
  height: 100vh;
  max-width: 450px;
  padding: 50px;
  background-color: #fff;
  box-shadow: -2px 0 30px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  -webkit-transform: translate(130%, 0px);
  -ms-transform: translate(130%, 0px);
  transform: translate(130%, 0px);
}

.booking-slide-out-subnote {
  margin-top: 10px;
  font-size: 11px;
}

.booking-placeholder {
  position: relative;
  margin-top: 20px;
}

.booking-placeholder-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background-image: linear-gradient(180deg, transparent, #fff);
}

.booking-slide-closer {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: none;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.submit-button {
  min-height: 50px;
  background-color: #ef8110;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 700;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #ce792a;
}

.form-success-lottie {
  width: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.success-message {
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 40px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.success-message-title {
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 40px;
  line-height: 1;
  font-style: italic;
  font-weight: 700;
}

.error-message {
  background-color: #ff0037;
}

.error-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.error-link:hover {
  color: rgba(0, 0, 0, 0.45);
}

.form-small-print {
  margin-top: 15px;
  color: hsla(0, 0%, 100%, 0.88);
  font-size: 11px;
}

.footer-template-links {
  margin-top: 10px;
  font-size: 11px;
}

.footer-template-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #f0f0f0;
}

.footer-template-link:hover {
  opacity: 0.5;
}

.instagram-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.instagram-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.instagram-lottie {
  position: absolute;
  width: 40px;
}

.instagram-feed-link-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.instagram-feed-link {
  padding-right: 13px;
  background-image: url('../images/icons8_right_1.svg');
  background-position: 100% 50%;
  background-size: 9px;
  background-repeat: no-repeat;
  color: #5a5a5a;
  font-size: 10px;
  text-decoration: none;
}

.booking-slide-close-mobile {
  display: none;
}

.mobile-nav-logo {
  display: none;
}

.hero-section-grid {
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.75fr 0.5fr;
  grid-template-columns: 0.75fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.asset-wrapper {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f0f0f0;
}

.asset-lottie {
  width: 100px;
  margin-bottom: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #1f1f1f;
  background-color: #000;
}

.asset-lottie.grey {
  background-color: #f0f0f0;
}

.link-address-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #868686;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.margin-bottom-60 {
  margin-bottom: 50px;
}

.no-margin {
  margin: 0px;
}

.asset-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.asset-link {
  display: block;
  margin-top: -3px;
  margin-left: 10px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.asset-logo {
  width: 100px;
}

.pexels-logo {
  width: 100px;
}

.lottie-asset {
  margin-top: 40px;
}

.image-asset {
  margin-top: 20px;
}

.contact-grid {
  margin-top: 100px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  -ms-grid-columns: 0.75fr 1fr 0.5fr;
  grid-template-columns: 0.75fr 1fr 0.5fr;
}

.contact-row {
  margin-bottom: 15px;
}

.contact-icon {
  width: 20px;
  margin-right: 20px;
}

.contact-link {
  color: #000;
  text-decoration: none;
}

.map {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.map-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.legal-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.styleguide-header {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #b9b9b9;
  font-size: 17px;
  font-weight: 400;
}

.rich-text-block figure {
  margin-top: 30px;
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.utility-page-wrap._404 {
  background-color: #000;
  color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.utility-icon {
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

._404-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 33px;
}

._404-paragraph {
  max-width: 290px;
}

.tutorial-logos-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tutorial-logo {
  max-height: 40px;
}

.tutorial-logo.webflow {
  max-height: 33px;
}

.tutorial-rich-text-field figure {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tutorial-rich-text-field h6 {
  margin-top: 20px;
  color: #646464;
}

.tutorial-rich-text-field.eviivo {
  max-width: 60ch;
}

.tutorial-sticky-link {
  margin-left: 10px;
  color: #53505a;
  font-size: 13px;
  font-weight: 400;
}

.tutorial-sticky-link.w--current {
  color: #a58961;
}

.tutorial-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.version-section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 50px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
}

.tutorial-x {
  width: 15px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.4;
}

.tutorial-link.button {
  margin-left: auto;
}

.typed-words.heading {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.heading.typed-words-1 {
  position: static;
  right: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flat-desk-objects {
  background-image: url('../images/office-desk-with-modern-gadgets-on-a-grey-desk-2021-09-02-21-39-45-utc-01.svg');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-2 {
  margin-top: 20px;
}

.block-quote {
  background-color: transparent;
  font-size: 30px;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 330px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.left-arrow {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.slide {
  background-color: transparent;
}

.icon {
  color: #5a5a5a;
}

.icon-2 {
  color: #5a5a5a;
}

.slide-nav {
  background-color: #fff;
}

.text-block {
  line-height: 30px;
}

.text-block-2 {
  margin-left: 20px;
  line-height: 30px;
}

.text-block-3 {
  margin-left: 20px;
  padding-left: 0px;
}

@media screen and (min-width: 1280px) {
  .home-hero-image {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(0, 0, 0, 0.83)), color-stop(20%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/hero-image.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 6%, hsla(0, 0%, 100%, 0) 20%), linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-image.jpg');
    background-position: 0px 0px, 0px 0px, 50% 100%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
  }

  .intro-grid {
    -ms-grid-columns: 0.6fr 1fr;
    grid-template-columns: 0.6fr 1fr;
  }

  .hero-section-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .typed-words {
    margin-left: 10px;
  }

  .typed-words.heading {
    margin-left: 8px;
  }

  .grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .heading {
    margin-right: 0px;
    font-size: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .home-hero-image {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(0, 0, 0, 0.83)), color-stop(20%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url('../images/hero-image.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 6%, hsla(0, 0%, 100%, 0) 20%), linear-gradient(180deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url('../images/hero-image.jpg');
    background-position: 0px 0px, 0px 0px, 50% 100%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
  }

  .hero-container {
    max-width: 800px;
  }

  .navbar {
    left: 0px;
    right: 0px;
    width: 100vw;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
  }

  .brand {
    width: 160px;
  }

  .section-title {
    margin-bottom: 50px;
  }

  .patterned-texture {
    background-image: url('../images/Pattern-Texture.svg');
    background-position: 0px 0px;
    background-size: auto;
  }

  .typed-words.heading {
    margin-left: 25px;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .heading-2 {
    line-height: 1.5;
  }

  .heading-3 {
    line-height: 1.5;
  }

  .paragraph {
    margin-bottom: 50px;
  }

  .flat-desk-objects {
    background-image: url('../images/office-desk-with-modern-gadgets-on-a-grey-desk-2021-09-02-21-39-45-utc-01.svg');
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .intro-grid {
    grid-column-gap: 50px;
  }

  .intro-image-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 200px auto 200px;
    grid-template-rows: 200px auto 200px;
  }

  .features-grid {
    grid-column-gap: 100px;
  }

  .divider-line.mini-margin.hide-on-mobile {
    display: none;
  }

  .text-image-grid {
    grid-column-gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .patterned-texture {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-image {
    width: 70px;
  }

  .hero-section-grid {
    -ms-grid-columns: 0.75fr 0.25fr;
    grid-template-columns: 0.75fr 0.25fr;
  }

  .contact-grid {
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }

  .legal-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .block-quote {
    font-size: 25px;
  }

  .slide-nav {
    background-color: transparent;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }

  .home-hero-image.hero-image-1 {
    display: none;
  }

  .home-hero-image.hero-image-3 {
    display: none;
  }

  .home-hero-image.hero-image-2 {
    display: none;
  }

  .home-hero-image.hero-image-4-mobile {
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.83)), color-stop(17%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/hero-image-for-mobile.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.83), hsla(0, 0%, 100%, 0) 17%), linear-gradient(180deg, null, null), url('../images/hero-image-for-mobile.jpg');
  }

  .hero-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .navbar {
    left: auto;
    right: auto;
    max-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container.nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brand {
    display: none;
    margin-right: 50px;
    margin-left: 50px;
  }

  .nav-menu {
    background-color: #fff;
  }

  .nav-link {
    min-width: auto;
    color: #000;
  }

  .nav-link.nav-link-cta {
    margin-top: 0px;
  }

  .section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.assets-hero {
    padding-top: 130px;
  }

  .footer {
    padding: 40px 20px;
  }

  .intro-grid {
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 35px;
  }

  .intro-image-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .sign-up-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .scroll-down-hint {
    display: none;
  }

  .features-grid {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-subtitle {
    font-size: 35px;
  }

  .gallery-section {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .text-image-grid {
    grid-row-gap: 50px;
  }

  .hosts-image {
    width: 150px;
  }

  .patterned-texture {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .patterned-texture.hide-on-mobile {
    display: none;
  }

  .instagram-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .instagram-link.image-extra {
    display: none;
  }

  .instagram-lottie {
    width: 30px;
    height: 30px;
  }

  .instagram-feed-link-wrapper {
    padding-top: 0px;
  }

  .mobile-nav-logo {
    display: block;
    width: 30vw;
    max-width: 120px;
    margin-left: 30px;
  }

  .menu-button {
    margin-right: 20px;
  }

  .nav-button-lottie {
    width: 30px;
  }

  .hero-section-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .link-address-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .asset-link {
    margin-left: 0px;
  }

  .contact-grid {
    margin-top: 50px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 0.5fr;
    grid-template-columns: 1fr 0.5fr;
  }

  .map {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .tutorial-logos-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tutorial-logo {
    max-height: 33px;
  }

  .tutorial-logo.webflow {
    max-height: 28px;
  }

  .tutorial-link.button {
    margin-top: 15px;
    margin-left: 0px;
  }

  .typed-words.heading {
    min-height: 60px;
    margin-top: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading.typed-words-1 {
    min-height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flat-desk-objects {
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 23px;
  }

  blockquote {
    font-size: 30px;
    line-height: 1.3;
  }

  .home-hero {
    min-height: 490px;
    padding-top: 60px;
  }

  .home-hero-image.hero-image-4-mobile {
    height: 70vh;
  }

  .navbar {
    left: 0px;
    right: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .container.nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brand {
    display: none;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 20px 10px -19px rgba(0, 0, 0, 0.14);
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
  }

  .nav-link.w--current {
    color: #000;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.assets-hero {
    padding-top: 100px;
  }

  .section.legal-hero {
    padding-top: 130px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-title {
    font-size: 31px;
  }

  .intro-image-grid {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .scroll-down-hint {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .sign-up-form-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-subtitle.contact {
    margin-bottom: 30px;
  }

  .featured-row {
    font-size: 17px;
  }

  .featured-icon {
    margin-right: 20px;
  }

  .gallery-section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .divider-line {
    display: none;
  }

  .patterned-texture {
    margin-top: 50px;
    padding: 30px;
  }

  .quote-wrapper {
    padding: 20px 30px 30px;
  }

  .instagram-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .booking-slide-out {
    position: fixed;
    display: block;
    padding: 30px;
    -webkit-transform: translate(130%, 0px);
    -ms-transform: translate(130%, 0px);
    transform: translate(130%, 0px);
  }

  .submit-button {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .body-wrapper {
    overflow: visible;
  }

  .instagram-link {
    height: 33vw;
  }

  .instagram-link.image-extra {
    display: block;
  }

  .booking-slide-close-mobile {
    display: inline-block;
    width: 55px;
    margin-bottom: 20px;
    background-image: url('../images/icons8_right_1.svg');
    background-position: 100% 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    font-weight: 400;
    cursor: pointer;
  }

  .mobile-nav-logo {
    display: block;
    width: 30vw;
    max-width: 100px;
    margin-left: 0px;
  }

  .menu-button {
    width: 45px;
    padding: 7px 0px 6px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .asset-link {
    font-size: 12px;
  }

  .contact-grid {
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .map {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .tutorial-logo {
    max-height: 25px;
  }

  .tutorial-logo.webflow {
    max-height: 21px;
  }

  .version-section {
    padding: 30px 20px;
  }

  .tutorial-x {
    margin-right: 5px;
    margin-left: 5px;
  }

  .tutorial-link.button {
    font-size: 13px;
  }

  .typed-words.heading {
    margin-top: 5px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading.typed-words-1 {
    margin-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .flat-desk-objects {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .block-quote {
    width: 60vw;
    font-size: 20px;
  }

  .slider {
    width: 90vw;
    min-height: 400px;
  }

  .left-arrow {
    width: 10vw;
  }

  .text-block-2 {
    min-width: 70px;
    line-height: 20px;
  }

  .right-arrow {
    width: 10vw;
  }
}

#w-node-bce7b85d-156a-848d-97ff-344371abef75-5fcf8aa8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d6451b18-7ea0-92d9-e141-373d15b9ca16-5fcf8aa8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_9c0a744c-20ba-b506-a553-0e6e6596e360-5fcf8aa8 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_9e7765d4-6348-8d5d-a2ed-fe6f548bed6b-5fcf8aa8 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_0f3f63e5-e1fb-f211-a5f8-52a3ebc053d9-5fcf8aa8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-c129bce8-8d0d-40f8-1867-a0d6035a2bf6-5fcf8aa8 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_21bec829-0d92-3603-653d-89ce17082415-5fcf8aa8 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_31e9955c-2c03-31fd-5641-6c9aa57e4ccc-5fcf8aa8 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-a403c7ef-b6a9-aac0-64da-c95fcdbfaf12-5fcf8aa8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-ea61ef01-e95f-5e7e-a06c-cb485e24ff15-5fcf8aa8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-ffa38b31-6a2e-c462-7173-246892f5c17c-5fcf8aa8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_59f3c942-aee6-4ca2-65a0-56731b55045b-5fcf8aa8 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_5ea0f8b0-b23d-067a-e1d8-642c9ae4ba50-5fcf8aa8 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_95fac176-2a8a-871a-cac4-bda1c6de6d07-5fcf8aa8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-cd8d88f2-8cc5-a0b5-639f-16b395f20b4e-5fcf8aa8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_68d4630d-557a-d31f-304b-708b53b96a8c-5fcf8aa8 {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-f25e23bf-a670-8fc0-3dab-6a5b6557c76e-8efe1a90 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (min-width: 1440px) {
  #w-node-bce7b85d-156a-848d-97ff-344371abef75-5fcf8aa8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d6451b18-7ea0-92d9-e141-373d15b9ca16-5fcf8aa8 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (min-width: 1280px) {
  #w-node-f4d5decf-7bba-2053-1774-dfb5fd3af5b0-5fcf8aa8 {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-bf6464f3-bb83-a4e1-6efa-e8a94e13b674-5fcf8aa8 {
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_95fac176-2a8a-871a-cac4-bda1c6de6d07-5fcf8aa8 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-cd8d88f2-8cc5-a0b5-639f-16b395f20b4e-5fcf8aa8 {
    -ms-grid-row: span 3;
    grid-row-start: span 3;
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_68d4630d-557a-d31f-304b-708b53b96a8c-5fcf8aa8 {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 3;
    grid-row-start: span 3;
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-d6451b18-7ea0-92d9-e141-373d15b9ca16-5fcf8aa8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f4d5decf-7bba-2053-1774-dfb5fd3af5b0-5fcf8aa8 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-bf6464f3-bb83-a4e1-6efa-e8a94e13b674-5fcf8aa8 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_9e7765d4-6348-8d5d-a2ed-fe6f548bed6b-5fcf8aa8 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_21bec829-0d92-3603-653d-89ce17082415-5fcf8aa8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_5ea0f8b0-b23d-067a-e1d8-642c9ae4ba50-5fcf8aa8 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-cd8d88f2-8cc5-a0b5-639f-16b395f20b4e-5fcf8aa8 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_8d94bef2-6001-f6db-5c58-c38933abe3fb-5fcf8aa8 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f4d5decf-7bba-2053-1774-dfb5fd3af5b0-5fcf8aa8 {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-_9e7765d4-6348-8d5d-a2ed-fe6f548bed6b-5fcf8aa8 {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_95fac176-2a8a-871a-cac4-bda1c6de6d07-5fcf8aa8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-cd8d88f2-8cc5-a0b5-639f-16b395f20b4e-5fcf8aa8 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_8d94bef2-6001-f6db-5c58-c38933abe3fb-5fcf8aa8 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2f943034-0152-7931-15bd-70fc89ae9337-89ae9336 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

